@import "tailwindcss";

@import "swiper/css";
@import "swiper/css/navigation";

@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'remixicon/fonts/remixicon.css';

:root{
  --primary-col: #10b63a !important;
  --primary-lig1: #15fc0010;
  --primary-lig2: #15fc0010;
  --hero-img-from: #84f8741a;
  --hero-img-to: #e9ff1f0c;
  --black-col: #000;
  --white-col: #fff;
  --text-col: #32455e;

  --transition-reg: 0.3s;
  --transition-slow: 0.6s; 
}

@layer utilities{
  .font-sora{
    font-family: var(--font-sora), sans-serif;
  }

  .font-unbounded{
    font-family: var(--font-unbounded), cursive;
  }
}

body {
  background: #1c1b21;
  color: var(--white-col);
  /* overflow: hidden; */
  overflow-y: scroll;
}

.subcol{
  color: var(--primary-col);
}

.hovnav:hover{
  color: var(--primary-col)
}

.navpos{
  z-index: 99999;
}

.bgnav{
  background: var(--primary-col);
  border-radius: 16px;
}

.shadcol:hover{
  box-shadow: 0px 2px 5px var(--primary-col);
  background: transparent;
  border-radius: 36px;
}

.chane:hover{
  border-color: var(--primary-col);
}

.active-links{
  color: var(--primary-col);
}

.chan{
  color: var(--primary-col);
}

.active-links:after,
.n-menu a:after,
.menu li a:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary-col);
  transition: var(--transition-reg);
}

.n-menu a:after,
.menu li a:after{
  opacity: 0;
}

.n-menu a:hover:after,
.menu li a:hover:after{
  opacity: 1;
}

.menu li a{
  padding-bottom: 10px;
}

.active-links:after{
  opacity: 1 !important;
}

.heel{
  height: 100vh;
}

.bg-primary-gradient1 {
  background-image: linear-gradient(to left, var(--primary-lig1), var(--primary-lig2));
}

.bg-primary-gradient2 {
  background-image: linear-gradient(to right, var(--primary-lig1), var(--primary-lig2));
}

.bg-primary-gradient3 {
  background-image: linear-gradient(to bottom, var(--primary-lig1), var(--primary-lig2));
}

.spancol,
.spancoll{
  color: var(--primary-col);
}

.spancoll:hover{
  color: white;
}

.linkcol{
  border-color: var(--primary-col);
  color: var(--primary-col);
}

.linkcol:hover{
  background: var(--primary-col);
  color: var(--text-col);
}

.heroy{
  background-image: linear-gradient(to right, var(--hero-img-from), var(--hero-img-to));
}

.s-card:hover,
.s-card:hover .ptime{
  border-color: var(--primary-col);
}

.secsec:hover{
  background-color: var(--primary-col);
}

.secs{
  background-color: var(--primary-col);
  color: white;
}

.secs:hover{
  background-color: white;
  color: #000;
}

.s-card h3:hover,
.s-card:hover h2{
  color: var(--primary-col);
}

.change{
  background-color: var(--primary-col);
  color: wheat;
}

.stroke-text{
  color: transparent;
  -webkit-text-stroke: 1px var(--color-white);
  transition: var(--transition-reg);
}

.s-card:hover .stroke-text{
  -webkit-text-stroke: 2px var(--primary-col);
}

.hero-image:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255,255,255,0) 48%, rgba(0,0,0,0.8) 100%)
}

.hero-social i {
  width: 50px;
  height: 50px;
  border: 1px solid var(--primary-col);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  cursor: pointer;
  transition: var(--transition-reg);
}

.hero-social i:hover{
  color: var(--white-col);
  background-color: var(--primary-col);
  transform: translateY(-10px);
}

.custom-scrollbar::-webkit-scrollbar{
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track{
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb{
  background-color: var(--primary-col);
  border: 2px solid transparent;
  border-radius: 4.2px;
  background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover{
  background-color: var(--primary-col);
}

.changec:hover{
  color: var(--primary-col);
}

@keyframes anibottom {
  0%{
    transform: translateY(-50%);
    opacity: 0;
  }
  100%{
    transform: translateY(0%);
    opacity: 1;
  }
}

.w-tent h2{
  opacity: 0;
  animation: anibottom var(--transition-reg) 1.4s forwards linear;
}

.w-tent h3{
  opacity: 0;
  animation: anibottom var(--transition-reg) 1.2s forwards linear;
}

.w-tent p{
  opacity: 0;
  animation: anibottom var(--transition-reg) 1s forwards linear;
}

.w-icons{
  opacity: 0;
  animation: anibottom var(--transition-reg) 0.8s forwards linear;
}

.w-share{
  opacity: 0;
  animation: anibottom var(--transition-reg) 0.6s forwards linear;
}

.w-img{
  opacity: 0;
  animation: anibottom var(--transition-reg) 0.4s forwards linear;
}

.ifocal:focus{
  border-color: var(--primary-col);
}

.subsub{
  background-color: var(--primary-col);
}

.subsub:hover{
  background-color: white;
  color: black;
}

.contact-col:hover span{
  border-color: var(--white-col);
}

.contact-col span{
  transition: var(--transition-reg);
}












@media (max-width:991px){
  body{
    overflow-x: hidden !important;
    overflow-y: scroll !important;
  }
}